@media  screen and (min-width: 1158px) {
    .conteiner{
        width: 1158px; 
    }
    .header{
        
    }
    .header-contact{
        display: flex;
    }
    .main-head {
        padding: 188px 0px;
        max-width: 1440px;
        
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url(../images/head-fon.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .main-head-text{
        font-weight:400;
        width: 496px;
        font-weight: 700;
font-size: 56px;
line-height: 60px;
text-align: center;
letter-spacing: 0.02em;
    }
    .fourblocks-icon {
        margin: 24px 0;
        display:flex;
      }
    .fourblocks-blok1, .fourblocks-blok2, .fourblocks-blok3, .fourblocks-blok4 {
        width: calc((100% - 72px)/4);

}
.footer{
    padding-left: 0;
}
.fourblocks{
    padding-bottom: 0;
}
.fourblocks-head{
    font-weight: 400;
font-size: 20px;
line-height: calc(24 / 20);
letter-spacing: 0.02em;
text-align: start;
}
.about {
    padding: 120px 156px;

    display: flex;
  }
  .team {
    padding-bottom: 120px;
    padding-top: 120px;

}
.team-list{
    gap: 24px;
    flex-wrap: nowrap;
}
.customers{
    padding: 120px 16px;
 
}
.customers-item{
    width: calc((100% - 120px) / 6);
}
.footer{
    padding-bottom: 100px;
    padding-top: 100px; 
}
.footer-wrap{
    flex-wrap: nowrap;
}
.about-list{
    justify-content: center;
}
.form-footer{
    justify-content: start;
}
.input-footer{
}   
.footer-sociallist{
    justify-content: start;
}
.footer-tab{
    width: 640px;
}
}