h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}

:root {
  --white-color: #ffffff;
  --trans: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Roboto", sans-serif;
  position: relative;
  background: var(--white-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding: 24 16;

}
.header {
  padding: 24px 16px;
}


.btn-humburger{
  position: absolute;
  right: 16px;
  top: 0;
  padding: 0; 
  border: none;
  background-color: transparent;
  
}
.icon-humburger{
  stroke: #2E2F42;
}
.logo-left {
  width: 44px;
  height: 22px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.logo-rigrt {
  width: 71px;
  height: 22px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-idlink {
  display: flex;
  align-items: center;
  margin-left: 148px;
  gap: 40px;
  position: relative;
}
.header-idlink {
  display: none;
}
.header .conteiner {
  position: relative;
  display: flex;
}
.header-nav {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: var(--trans);
  position: relative;
}
.header-nav:hover {
  color: #4d5ae5;
}
.header-nav:focus {
  color: #4d5ae5;
}
.studio.header-nav:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  left: 0;
  bottom: -31px;
}
.portfolio.header-nav:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  left: 0;
  bottom: -28px;
}
.header-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 40px;
}
.header-contact{
  display: none;
}
.header-tel {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: var(--trans);
  
}
.header-tel:hover {
  color: #4d5ae5;
}
.header-mail {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: var(--trans);
}
.header-mail:hover {
  color: #4d5ae5;
}
.mobmenu{
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 40px;
}
.mobmenu-idlink > li {
  margin-bottom: 40px;
}
.mobmenu-nav {
  font-weight: 700;
font-size: 36px;
line-height: 40px;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.mobmenu-contact {
  position: absolute;
  bottom: 40px;
}
.mobmenu-mail {
  font-weight: 500;
font-size: 20px;
line-height: calc(24 / 20);
letter-spacing: 0.02em;
color: #434455;
margin-bottom: 40px;
}
.mobmenu-tel {
  font-weight: 600;
font-size: 25px;
line-height: calc(40 / 36);
text-transform: capitalize;
color: #4D5AE5;
margin-bottom: 40px;
}

/* --------------------------MAIN------------------------- */

.main-head {
  background: #2e2f42;
 
  padding: 114px 56px 114px 56px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/head-fon-mob1x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 480px;
  margin: 0 auto;
  
}
.main-head-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
  
  margin: 0 auto;
}
.main-head-btn {
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;

  width: 170px;
  height: 51px;
  background: #4d5ae5;
  color: var(--white-color);
  display: block;
  margin: 48px auto 0;
  border: 0;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-head-btn:hover {
  background: #4d5ae5;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.main-head-btn:focus {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.main-btn-txt {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
  cursor: pointer;
}

.fourblocks {
  padding-top: 96px;
  padding-bottom: 96px;
}
.fourblocks-list {
  display: flex;
  justify-content: center;
  gap: 72px;
  flex-wrap: wrap;
}

.fourblocks-head {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}
.fourblocks-text {
  font-weight: 500;
font-size: 16px;
line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8px;
}
.fourblocks-blok1 {
  width: 100%;
}
.fourblocks-blok2 {
  width: 100%;
}
.fourblocks-blok3 {
  width: 100%;
}
.fourblocks-blok4 {
  width: 100%;
}
.fourblocks-icon {
  margin: 24px 0;
  display: none;
}
.fourblocks-icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.about {
  padding-top: 120px;
  padding-bottom: 120px;
  display: none;
}
.about-head {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.about-list {
  display: flex;
  gap: 24px;
  margin-top: 72px;
}

.team {
  padding-bottom: 128px;
  background: #f4f4fd;
  padding-top: 96px;
  
}

.team-head {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
  margin-top: 72px;
}

.team-img {
  width: 264px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

  background-color: #fff;
}

.team-img-head {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 32px;
  padding-bottom: 8px;
}
.team-img-txt {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 12px;
}
.team-sociallist {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-bottom: 36px;
}
.team-img>.team-sociallist{
  gap: 24px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}
.team_sociallink {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team_sociallink:hover {
  background-color: #404bbf;
}
.team-social-icon {
  fill: #f4f4fd;
}
.prtf-img-item {
  position: relative;
}
.footer_sociallink:hover,
.footer_sociallink:focus {
  background-color: rgba(49, 208, 170, 1);
}
.footer-social-icon {
  fill: #f4f4fd;
}

.footer {
  padding-bottom: 96px;
  padding-top: 96px;
  background: #2e2f42;
}
.footer-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  max-width: 264px;
  margin-top: 18px;
  margin-bottom: 72px;
}
.footer-txt1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--white-color);
  margin-bottom: 16px;
  text-align: center;
}
.footer-inf{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.footer-logo-left {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-right {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-sociallist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 16px;
  padding-bottom: 36px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer_sociallink {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer_sociallink:hover,
.footer_sociallink:focus {
  background-color: rgba(49, 208, 170, 1);
}
.footer-social-icon {
  fill: #f4f4fd;
}
.btn-footer {
  height: 40px;
  width: 165px;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
}
.form-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 16px;
}
.input-footer {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #fff;
  padding-left: 19px;
}
.subscribe-icon {
  position: absolute;
  right: 24px;
  fill: var(--white-color);
}
.btn-footer span {
  margin-right: 16px;
  text-align: center;
}
.btn-footer:hover {
  background-color: #404bbf;
}
.form-wrap{width: 100%;}
.subscribe {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  
  text-align: center;
}

.footer-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.main-prtf {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-btn {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
  flex-direction: row;
}
.main-prtf-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  height: 48px;
  padding: 8px 16px;
  border: transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-prtf-btn:hover {
  background-color: #4d5ae5;
  color: var(--white-color);
  height: 48px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.main-prtf-btn:focus {
  background-color: #4d5ae5;
  color: var(--white-color);
  height: 48px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.prtf-img {
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.prtf-img:hover .prtf-img-subtext {
  transform: translateY(0%);
}
.prtf-img-item {
  position: relative;
  overflow: hidden;
}
.prtf-img-subtext {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-left: 32px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #f4f4fd;
}
.prtf-img:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.main-prtf-head {
  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.main-prtf-txt {
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8px;
}
.conteiner {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;

  margin: 0 auto;
}

.div-prtf {
  border: 0.5px solid #f4f4fd;
  padding-top: 32px;
  padding-left: 16px;
  padding-bottom: 32px;
}
.fucking-foto .list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.customers-text {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 72px;
}
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  row-gap: 72px;
  justify-content: center;
}
.customers-item {
  width: calc((100% - 30px) / 2);
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
  fill: #8e8f99;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover {
  border-color: #4d5ae5;
}
.customers-link:hover .customers-icon {
  fill: #4d5ae5;
}

.customers-link:focus {
  border-color: #4d5ae5;
}
.customers-link:focus .customers-icon {
  fill: #4d5ae5;
}
.backdrop {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms, visibility 250ms;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-360deg);
}
.modal {
  position: absolute;
  top: 41%;
  left: 50%;
  min-width: 408px;
  /* height: 576px; */
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);

  transition: transform 300ms cubic-bezier(0, 1.15, 1, -0.1);
  padding: 72px 24px 24px 24px;
}
.btn-icon-close {
  position: absolute;
  background: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  right: 24px;
  top: 24px;
  transition: 250ms cubic-bezier(0, 1.15, 1, -0.1);
}
.btn-icon-close:hover {
  background-color: #404bbf;
}
.btn-icon-close:hover .icon-close {
  fill: #ffffff;
}
.icon-close {
  width: 8px;
  height: 8px;
}

.icon-closelink {
  width: 8px;
  height: 8px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-text {
  text-align: center;
  margin-bottom: 34px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.02em;
}
.input-modal {
  width: 100%;
  margin-bottom: 8px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  background-color: inherit;
  position: relative;
  outline: transparent;
  padding-left: 38px;
}
.input-modal:focus {
  border-color: #4d5ae5;
}
.input-modal:focus + .modal-icon {
  fill: #4d5ae5;
}
.label-modal {
  color: #8e8f99;
  font-size: 12px;
  line-height: calc(16 / 12);
}
.comment-modal {
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  padding-bottom: 80px;
  background-color: inherit;
  margin-top: 4px;
  outline: transparent;
}
.comment-modal::placeholder {
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.comment-modal:focus {
  border-color: #4d5ae5;
}
.btn-submit {
  display: flex;
  justify-content: center;
}
.btn-modal-close {
  width: 169px;
  height: 56px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-top: 24px;
  color: #ffffff;
  cursor: pointer;
  transition: 250ms cubic-bezier(0, 1.15, 1, -0.1);
}
.btn-modal-close:hover {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.input-wrap {
  position: relative;
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.link-privacy {
  color: #4d5ae5;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  margin-left: 2px;
  text-decoration: underline;
}

.privacy-text {
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  display: flex;
}
.privacy-text::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #000;
  border-radius: 2px;
  display: block;
  margin-right: 7px;
  transition: 250ms cubic-bezier(0, 1.15, 1, -0.1);
}
.input-check:checked + .privacy-text::before {
  background: #404bbf;
  border: 1.25px solid #404bbf;
  border-radius: 2px;
  background-image: url(../images/acept-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}
