@media screen and (min-width: 768px) {
.btn-humburger{
    display: none;
}
.conteiner{
  width: 768px;
  padding-left: 16px;
  padding-right: 16px;
}
.mobmenu{
    display: none;
}
.header{
    padding: 24px 16px 22px;
  }
  
.header-main{
    display: flex;
    align-items: center;
}
.header-idlink {
    display: flex;
    align-items: center;
    margin-left: 148px;
    gap: 40px;
    position: relative;
  }
  .header-contact {
    display: block;
    align-items: center;
    margin-right: 40px;
    gap: 40px;
  }
  .header-nav{
    font-weight: 500;
font-size: 16px;
line-height: 24px;
  }
  .header-tel{
    font-size: 12px;
line-height: calc(16 / 12);
margin-top: 4px;
  }
  .header-mail{
    font-size: 12px;
line-height: calc(16 / 12)
  }
  .main-head{
    max-width: 768px;
    padding: 112px 137px 108px 138px;
  }
  .main-head-text{
    font-weight: 700;
font-size: 55px;
line-height: calc(60 / 56);
  }
  .main-head-btn{
    margin-top: 40px;
  }
  .fourblocks-list{
    gap: 24px;
  }
  .fourblocks-blok1, .fourblocks-blok2, .fourblocks-blok3, .fourblocks-blok4 {
    width: calc((100% - 56px)/2);
  }
  .team-list{
    gap: 24px;
  }
  .customers {
    padding-bottom: 96px;
    padding-top: 96px;
   
}
.customers-list{
    gap: 24px;
}
  .customers-item {
    width: calc((100% - 231px) / 3);
    height: 88px;
}
.footer {
  padding-bottom: 96px;
  padding-top: 96px;
  padding-left: 160px;
    
}
.footer-inf{
    display: block;
    width: 440px;
}
.footer-txt1{
    text-align: start;
}
.footer-tab{
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 100%;
}
.subscribe{
    text-align: start;
}
.form-footer{
    flex-wrap: nowrap;
    justify-content: flex-start

}
.footer-sociallist{
  justify-content: start;
}
.input-footer{
    width: 264px;
}
.modal{ top: 41%}
.form-wrap{
  width: 700px;
}
}